@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,800);
body{
	font-family: 'Raleway', sans-serif;
}
.content{
	min-height: 70.8vh;
}
nav{
	background-color: transparent !important;
	box-shadow: unset !important;
}
/*COLOR*/
.azul-1{
	background-color: #0e7ec1 !important;
}
.azul-2{
	background-color: #005285 !important;
}
.azul-3{
	background-color: #053552 !important;
}
.cinza{
	background-color: #f1f1f1 !important;
}
.cinza-1{
	background-color: #CCCCCC !important;
}
.cinza-2{
	background-color: #607d8b !important;
}
.cinza-3{
	background-color: #323e44 !important;
}
.azul-text{
	text-transform: uppercase;
    font-weight: 600;
    color: #053552 !important;
}
/*COLOR*/
.bold{
	font-weight: bold;
}
/*MARGIN*/
.margin_bottom_small{
	margin-bottom: 5px;
}
.margin_bottom_normal{
	margin-bottom: 10px;
}
.margin_bottom_large{
	margin-bottom: 20px;
}
.margin_bottom_huge{
	margin-bottom: 50px;
}
.margin_small{
	margin: 5px;
}
.margin_normal{
	margin: 10px;
}
.margin_large{
	margin: 20px;
}
.margin_huge{
	margin: 50px !important;
}
.margin_top_small{
	margin-top: 5px;
}
.margin_top_normal{
	margin-top: 10px
}
.margin_top_large{
	margin-top: 20px;
}
.margin_top_huge{
	margin-top: 50px;
}
.margin_left_small{
	margin-left: 5px;
}
.margin_left_normal{
	margin-left: 10px
}
.margin_left_large{
	margin-left: 20px;
}
.margin_left_huge{
	margin-left: 50px;
}
.margin_right_small{
	margin-right: 5px;
}
.margin_right_normal{
	margin-right: 10px
}
.margin_right_large{
	margin-right: 20px;
}
.margin_right_huge{
	margin-right: 50px;
}
.nomargin{
	margin: 0px !important;
}
.nopadding{
	padding: 0px !important;
}
/*MARGIN*/
/*PADDING*/
.padding_small{
	padding: 5px !important;
}
.padding_normal{
	padding: 10px !important;
}
.padding_large{
	padding: 20px !important;
}
.padding_huge{
	padding: 50px !important;
}
.nopad{
	padding: 0px !important;
}
/*PADDING*/
/*MOBILE*/
@media(max-width: 600px){
	.brand-logo{
		font-size: 4vw !important;
	}
	.footer_copyright,
	.footer{
		text-align: center !important;
	}
	.admin_controles{
		margin: 10px 0px;
	}
	.postagem{
		text-align: center;
	}
	.UFSM-logo,
	.fotoUsuario{
		display: none;
	}

}
/*MOBILE*/
/*DESKTOP*/
@media(min-width: 600px){
	form.m_borda,
	.m_borda{
		border:1px solid black;
	}
	.footer_2{
		text-align: right;
	}
	.admin_small{
		font-size: 1.05vw;
		overflow: hidden;
	}
	.admin_small span{
		font-weight: 600;
		font-size: 1.15vw;
	}
	.postagem{
		min-height: 180px;
		text-align: justify;
	}
	.admin_normal h5{
		font-size: 1.5vw;
	}
	#login-page{
		margin-top: 30px !important;
		margin-bottom: 30px !important;
	}
	.admin{
		min-height: 700px !important;
	}

}
/*DESKTOP*/
/*FOOTER*/
footer{
	color: #ccc;
	border-top:5px solid #ccc;
}
.footer{
	text-align: center;
}
.footer img{
	max-width: 40%;
}
.UFSM-logo img{
	height: 50px;
	margin: 5px 20px;
}
.footer_title{
	border-bottom: 2px solid #ccc;
}
.footer_title p{
	margin: 5px;
}
.footer_copyright>.s12{
	border-top: 2px solid #ccc;
}
.footer_copyright>.s12>p{
	margin: 3px;
	font-size: 12px;
}
ul.mapa_site> li > a {
	color: white;
}
/*FOOTER*/
#login-page{
	display: table;
	margin: auto;
}
.brasao-UFSM{
	width: 130px;
}
.nav-wrapper{
	border-bottom: 5px solid #ccc;
}
.admin_normal h5{
	text-transform: uppercase;
	font-weight: 600;
	color: #053552;
}
.m_borda_title h5{
	padding: 0px 20px;
}
.lista_postagens{
	border-bottom: 1px solid black;
}

/*EXIBIÇÃO ADMIN*/
.postagens .card-panel{
	background: #f1f1f1 !important;
}
.postagem span{
	display: block;
}
.admin_normal.descricao{
	text-align: justify;
}
.smaller span{
	font-weight: 600;
	font-size: 0.8rem;
	color: #053552;
	text-decoration: underline;
}
.smaller h5,
.smaller p{
	margin: 0px;
}
.smaller{
	padding: 10px 0px !important;
}
/*EXIBIÇÃO ADMIN*/

.painel > nav > ul > li:not(.active){
	background: #053552 !important;
}
.painel > nav > ul > li.active,
#menu > ul > li.active{
	background: #005285 !important;
}
.painel> nav li{
	width: 100% !important;
	line-height: 40px;
	height: 40px;
}
.painel>nav>ul i{
	line-height: 35px !important;
}
.collapsible-header{
	display: block !important;
	line-height: 65px !important;
	background-color: transparent !important;
}
.collapsible,
.collapsible-body,
.collapsible-header{
	border:0px !important;
}
.estatistica p{
	padding: 10px 20px;
	width: 100%;
	display: block;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: 600;
}
.estatistica span{
	font-size: 20px;
	font-weight: 300;
	padding-right: 10px;
}
.file-path-wrapper #postFile{
	width: 85% !important;
}
.file-path-wrapper i{
	position: absolute  !important;
	padding: 10px  !important;
}

#userFoto i{
	font-size: 13em;
	height: auto;
	line-height: 250px;
	color: white;
}

.fotoUsuario{
	height: 210px;
	width: 210px;
	border-radius: 50%;
	margin:15px 0px;
}