@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,800);
body{
	font-family: 'Raleway', sans-serif;
}
.content{
	min-height: 70.8vh;
}
/*MARGIN*/
.margin_bottom_small{
	margin-bottom: 5px;
}
.margin_bottom_normal{
	margin-bottom: 10px;
}
.margin_bottom_large{
	margin-bottom: 20px;
}
.margin_bottom_huge{
	margin-bottom: 50px;
}
.margin_small{
	margin: 5px;
}
.margin_normal{
	margin: 10px;
}
.margin_large{
	margin: 20px;
}
.margin_huge{
	margin: 50px;
}
.margin_top_small{
	margin-top: 5px;
}
.margin_top_normal{
	margin-top: 10px
}
.margin_top_large{
	margin-top: 20px;
}
.margin_top_huge{
	margin-top: 50px;
}
.margin_left_small{
	margin-left: 5px;
}
.margin_left_normal{
	margin-left: 10px
}
.margin_left_large{
	margin-left: 20px;
}
.margin_left_huge{
	margin-left: 50px;
}
.margin_right_small{
	margin-right: 5px;
}
.margin_right_normal{
	margin-right: 10px
}
.margin_right_large{
	margin-right: 20px;
}
.margin_right_huge{
	margin-right: 50px;
}
.nomargin{
	margin: 0px !important;
}
/*MARGIN*/
/*PADDING*/
.padding_small{
	padding: 5px !important;
}
.padding_normal{
	padding: 10px !important;
}
.padding_large{
	padding: 20px !important;
}
.padding_huge{
	padding: 50px !important;
}
.nopad{
	padding: 0px !important;
}
/*PADDING*/