html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}


.login-page .logo
{
	max-width: 150px;
	max-height: 150px;
}
